<%- include('./partials/header') -%>

<h1>Welcome to the homepage</h1>
<h1><a href="/myprofile">My Profile</a></h1>

<% console.log('User:', user); console.log(jobs); %>
<% if (user) { %>
  <% if (jobs && jobs.length > 0) { %>
    <% jobs.forEach((job) => { %>
      <div class="job">
        <p><%= job.status %></p>
        <p><%= job.jobtitle %></p>
        <p><%= job.nameEmployer %></p>
        <p><a href="/jobdetail/<%= job._id %>">See more</a></p>
      </div>
    <% }); %>
  <% } else { %>
    <p>No jobs found</p>
  <% } %>
<% } %>

<a href="/newjob">Create a new job</a> 

<%- include('./partials/footer') -%>
