<%- include('./partials/header') -%>

<h1 class="dashboardTitle">Dashboard</h1>
<p class="newjobBtn"><a href="/newjob" >Create a new job</a> </p>

<div class="dashboard">
<% console.log('User:', user); console.log(jobs); %>
<% if (user) { %>
  <% if (jobs && jobs.length > 0) { %>
    <% jobs.forEach((job) => { %>
      <div class="jobDashboard">
        <p class="statusDashboard"><%= job.status %></p>
        <p class="jobtitleDashboard"><%= job.jobtitle %></p>
        <p class="nameEmployerDashboard"><%= job.nameEmployer %></p>
        <p class="seemore"><a href="/jobdetail/<%= job._id %>">See more</a></p>
      </div>
    <% }); %>
</div>
  <% } else { %>
    <p class="errorJob">No jobs found</p>
  <% } %>
<% } %>



<%- include('./partials/footer') -%>
