<%- include('./partials/header') -%>

<h1 class="dashboardTitle">Dashboard</h1>
<p class="newjobBtn"><a href="/newjob" >Create a new job</a> </p>

<div class="dashboard">
<% console.log('User:', user); console.log(jobs); %>
<% if (user) { %>
  <% if (jobs && jobs.length > 0) { %>
    <% jobs.forEach((job) => { %>
      <div class="jobDashboard">
        <p class="statusDashboard"><%= job.status %></p>
        <p class="jobtitleDashboard"><%= job.jobtitle %></p>
        <p class="companyDashboard"><%= job.company %></p>
        <p class="seemore"><a href="/jobdetail/<%= job._id %>">See more</a></p>
      </div>
    <% }); %>
</div>
  <% } else { %>
    <p class="errorJob">No jobs found</p>
  <% } %>
<% } %>
<script>
    
    const statusElements = document.querySelectorAll('.statusDashboard');

   
    statusElements.forEach((statusElement) => {
        if (statusElement.innerText === 'Negative') {
            statusElement.style.backgroundColor = 'red';
        } else if (statusElement.innerText === 'CV sent') {
            statusElement.style.backgroundColor = 'blue';
        } else if (statusElement.innerText === 'Interview') {
            statusElement.style.backgroundColor = 'green';
        } else {
            statusElement.style.backgroundColor = '#f5df4d';
        }
    });
</script>

<%- include('./partials/footer') -%>
